# pheweb数据获取

## pheweb网站
- pheweb网址：http://pheweb.sph.umich.edu/SAIGE-UKB 
- 网站看起来是静态网站，有关数据都可以直接在网站上找到，其中表格数据的存储格式为[.json文件格式](https://www.runoob.com/json/json-tutorial.html),
- 在网站上找到.json数据文件位置的方法请点击：[.json - 知乎 ](https://zhuanlan.zhihu.com/p/139116242)
- .json文件的存储方式是键值对，需要进一步整理成Excel或CSV文件，方便查看和处理

### 下载与整理

#### 注：执行下面的代码需要Python，最好安装anaconda，打开jupyter Notebook执行，省去安装各个库的麻烦

- 用Python/jupyter Notebook执行以下代码，按指示输入所需内容即可

In [3]:
#导入相关库
import numpy as np
import pandas as pd 
import requests

In [4]:
#输入.json文件网址，请求数据
url = input("请输入.json文件网址后点击回车")
result = requests.get(url).json()
file_name = url.split("/")[-1].split(".")[0]
file_name

请输入.json文件网址后点击回车http://pheweb.sph.umich.edu:5000/api/manhattan/pheno/50.json

'50'

In [5]:
#查看数据长度及基本情况,可以看到该数据有两个数据内容，分别是variant_bins，unbinned_variants
print(len(result),result.keys())
result_variant_bins = pd.DataFrame(result['variant_bins'])
result_unbinned_variants = pd.DataFrame(result['unbinned_variants']).sort_values(by = "peak")

2 dict_keys(['variant_bins', 'unbinned_variants'])

In [6]:
result_variant_bins.head()

,chrom,neglog10_pvals,neglog10_pval_extents,pos
0,1,"[6.7, 7.1, 8.4, 8.85, 9.3, 9.5, 10.4, 11.2, 11...","[[-0.0, 6.25], [6.35, 6.6], [7.3, 7.45], [7.85...",1500000
1,1,"[4.95, 5.25, 5.55, 5.65]","[[0.0, 4.65], [4.75, 4.85], [5.8, 5.85], [5.95...",4500000
2,1,"[6.95, 7.05, 7.15, 7.25, 7.35, 7.75, 7.9, 8.4,...","[[-0.0, 6.85], [7.5, 7.65], [8.05, 8.1], [8.5,...",7500000
3,1,"[10.75, 11.3, 12.2, 15.3, 16.55, 24.25, 25.7, ...","[[0.0, 6.5], [6.6, 8.4], [8.5, 8.65], [8.75, 8...",10500000
4,1,"[4.0, 4.1, 4.35, 4.75, 4.85, 6.55, 6.75]","[[-0.0, 2.75], [2.85, 2.95], [3.05, 3.7], [3.8...",13500000

In [7]:
result_unbinned_variants.head()

,chrom,pos,ref,alt,rsids,nearest_genes,pval,beta,ac,peak
35,6,130374461,T,A,rs7740107,L3MBTL3,9.600000e-78,-0.036,494902.0,True
1250,15,84580582,A,C,rs11259936,ADAMTSL3,6.600000e-104,0.037,350626.0,True
1291,6,26180634,G,C,rs62396185,HIST1H2BE,2.800000e-105,-0.043,172558.0,True
1365,6,34199092,C,T,rs2780226,HMGA1,7.400000e-109,-0.067,613340.0,True
1375,1,149906413,T,C,rs11205303,MTMR11,2.200000e-109,0.039,275312.0,True

In [8]:
#将两个数据分别输出到一个Excel文件的两个sheet中
save_locate = input("请输入文件将要保存的位置，如C:\\Users\\Desktop")
with pd.ExcelWriter(r"%s\%s.xlsx"%(save_locate,file_name)) as writer:
    result_variant_bins.to_excel(writer,sheet_name = "result_variant_bins")
    result_unbinned_variants.to_excel(writer,sheet_name ="result_unbinned_variants")

请输入文件将要保存的位置，如C:\Users\DesktopC:\Users\acer\Desktop

In [1]:
#help(result_variant_bins.to_excel)

### 关于top hits

- 下载的数据实际上是Manhattan图上所示的所有有意义的signal，要找top hits，只需在输出的文件里找peak值为TRUE的数据（已排序，若未排序，请用excel排序查看）