# pheweb数据获取

## pheweb
pheweb网址：http://pheweb.sph.umich.edu/SAIGE-UKB 网站看起来是静态网站，有关数据可以直接在网站上找到，其中表格数据的存储格式为.json文件（格式详解见[JSON教程](https://www.runoob.com/json/json-tutorial.html)）,下面是找到.json数据文件位置的方法：

![.json]()

### 下载与保存

- 用Python/jupyter Notebook执行以下代码，按指示输入所需内容即可

In [1]:
#导入相关库
import numpy as np
import pandas as pd 
import requests

In [2]:
#执行代码，输入.json文件网址（见上面图示），requests.get(.).json()请求数据
url = input("请输入网址")
result = requests.get(url).json()

请输入网址http://pheweb.sph.umich.edu/SAIGE-UKB/api/manhattan/pheno/290.1.json

In [3]:
#查看数据长度及基本情况,.json文件的存储方式为键值对，可以看到该数据有两个数据分别是variant_bins，unbinned_variants
print(len(result),result.keys())
result_variant_bins = pd.DataFrame(result['variant_bins'])
result_unbinned_variants = pd.DataFrame(result['unbinned_variants'])

2 dict_keys(['variant_bins', 'unbinned_variants'])

In [4]:
result_variant_bins

    chrom       qvals              qval_extents       pos
0       1       [4.5]              [[0.1, 3.9]]   1500000
1       1       [4.5]              [[0.1, 4.1]]   4500000
2       1          []              [[0.1, 3.9]]   7500000
3       1          []  [[0.1, 3.5], [3.9, 4.5]]  10500000
4       1          []              [[0.1, 3.5]]  13500000
..    ...         ...                       ...       ...
929    22  [4.3, 4.7]              [[0.1, 3.5]]  40500000
930    22  [3.9, 4.3]              [[0.1, 3.5]]  43500000
931    22          []              [[0.1, 4.1]]  46500000
932    22       [4.5]              [[0.1, 3.9]]  49500000
933    22          []              [[0.1, 2.9]]  52500000

[934 rows x 4 columns]

In [5]:
result_unbinned_variants

,chrom,pos,ref,alt,rsids,nearest_genes,pval,beta,sebeta,af,ac,tstat,num_significant_in_peak,peak
0,19,45411941,T,C,rs429358,APOE,1.900000e-84,1.40,0.074,0.160,125866.0,1.00,108.0,True
1,19,45410002,G,A,rs769449,APOE,4.300000e-73,1.50,0.081,0.130,102488.0,0.95,NaN,NaN
2,19,45415713,G,A,rs10414043,APOC1,8.900000e-73,1.40,0.080,0.130,103578.1,0.95,NaN,NaN
3,19,45415935,G,T,rs7256200,APOC1,9.200000e-73,1.40,0.080,0.130,103673.8,0.95,NaN,NaN
4,19,45422946,A,G,rs4420638,APOC1,1.200000e-71,1.20,0.066,0.190,153893.0,0.88,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502,6,161841065,T,G,rs9458244,PARK2,1.600000e-05,0.20,0.048,0.500,406249.5,0.14,NaN,NaN
503,1,245129068,T,G,rs75052541,EFCAB2,1.600000e-05,4.60,1.100,0.001,806.8,0.26,NaN,NaN
504,14,28224078,A,G,rs17113120,FOXG1,1.600000e-05,-0.24,0.056,0.210,172726.8,-0.19,NaN,NaN
505,8,27761649,A,C,rs1105630,SCARA5,1.600000e-05,0.21,0.048,0.640,515896.9,0.17,NaN,NaN
506,14,28206852,G,A,rs12433723,FOXG1,1.700000e-05,-0.24,0.056,0.210,172689.1,-0.19,NaN,NaN

In [6]:
#将两个数据分别输出到一个CSV文件的两个sheet中
save_locate = input("请输入文件将要保存位置")
with pd.ExcelWriter(r"%s\result.xlsx"%(save_locate)) as writer:
    result_variant_bins.to_excel(writer,sheet_name = "result_variant_bins")
    result_unbinned_variants.to_excel(writer,sheet_name ="result_unbinned_variants")

请输入文件将要保存位置C:\Users\acer\Desktop

In [1]:
#help(result_variant_bins.to_excel)

### 关于top hits

- 下载的数据实际上是Manhattan图上所示的所有有意义的signal，要找top hits，只需在输出的文件里找peak值为TRUE的数据（excel排序就行）