# pheweb数据获取

## pheweb网站
- pheweb网址：http://pheweb.sph.umich.edu/SAIGE-UKB 
- 网站看起来是静态网站，有关数据都可以直接在网站上找到，其中表格数据的存储格式为[.json文件格式](https://www.runoob.com/json/json-tutorial.html),
- 在网站上找到.json数据文件位置的方法请点击：[.json - 知乎 ](https://zhuanlan.zhihu.com/p/139116242)
- .json文件的存储方式是键值对，需要进一步整理成Excel或CSV文件，方便查看和处理

### 下载与整理

- 用Python/jupyter Notebook执行以下代码，按指示输入所需内容即可

In [14]:
#导入相关库
import numpy as np
import pandas as pd 
import requests

In [2]:
#输入.json文件网址，请求数据
url = input("请输入.json文件网址后点击回车")
result = requests.get(url).json()

请输入.json文件网址http://pheweb.sph.umich.edu/SAIGE-UKB/api/manhattan/pheno/286.1.json

In [10]:
#查看数据长度及基本情况,可以看到该数据有两个数据内容，分别是variant_bins，unbinned_variants
print(len(result),result.keys())
result_variant_bins = pd.DataFrame(result['variant_bins'])
result_unbinned_variants = pd.DataFrame(result['unbinned_variants']).sort_values(by = "peak")

2 dict_keys(['variant_bins', 'unbinned_variants'])

In [11]:
result_variant_bins.head()

,chrom,qvals,qval_extents,pos
0,1,"[4.25, 4.45]","[[0.05, 3.25], [3.45, 3.65], [3.95, 4.05]]",1500000
1,1,"[4.25, 4.45, 4.65]","[[0.05, 3.85]]",4500000
2,1,"[3.85, 4.05, 4.45]","[[0.05, 3.65]]",7500000
3,1,[4.95],"[[0.05, 3.55]]",10500000
4,1,"[3.85, 4.65]","[[0.05, 3.35], [3.55, 3.65]]",13500000

In [12]:
result_unbinned_variants.head()

,chrom,pos,ref,alt,rsids,nearest_genes,pval,beta,sebeta,af,ac,tstat,num_significant_in_peak,peak
0,1,169519049,T,C,rs6025,F5,6.400000e-173,-10.0,0.37,0.980000,794780.0,-1.70,1242.0,True
501,1,170590770,A,G,rs191436110,PRRX1,3.100000e-08,4.8,0.88,0.003200,2603.8,0.24,1.0,True
502,3,8579730,G,A,rs151209271,LMCD1,1.300000e-07,77.0,15.00,0.000053,43.1,0.50,0.0,True
503,16,3459685,G,A,rs534853717,LA16c-306E5.2,2.200000e-07,49.0,9.40,0.000083,67.7,0.47,0.0,True
504,4,162526332,T,A,rs72687582,FSTL5,2.600000e-07,6.1,1.20,0.001800,1498.7,0.24,0.0,True

In [13]:
#将两个数据分别输出到一个Excel文件的两个sheet中
save_locate = input("请输入文件将要保存位置")
with pd.ExcelWriter(r"%s\result.xlsx"%(save_locate)) as writer:
    result_variant_bins.to_excel(writer,sheet_name = "result_variant_bins")
    result_unbinned_variants.to_excel(writer,sheet_name ="result_unbinned_variants")

请输入文件将要保存位置C:\Users\acer\Desktop

In [1]:
#help(result_variant_bins.to_excel)

### 关于top hits

- 下载的数据实际上是Manhattan图上所示的所有有意义的signal，要找top hits，只需在输出的文件里找peak值为TRUE的数据（已排序，若未排序，请用excel排序查看）