In [6]:
import numpy as np
import pandas as pd 
import requests

In [20]:
url = 'http://pheweb.sph.umich.edu/SAIGE-UKB/api/manhattan/pheno/272.json'

In [21]:
result = requests.get(url).json()

In [33]:
c = pd.DataFrame(result['unbinned_variants'])
c

,chrom,pos,ref,alt,rsids,nearest_genes,pval,beta,sebeta,af,ac,tstat,num_significant_in_peak,peak
0,19,45412079,C,T,rs7412,APOE,3.700000e-73,-0.280,0.0160,0.081000,66378.0,-4.70,154.0,True
1,19,45411941,T,C,rs429358,APOE,6.000000e-68,0.200,0.0120,0.160000,127786.0,4.30,NaN,NaN
2,19,45422160,C,G,rs12721051,APOC1,6.900000e-63,0.180,0.0110,0.190000,155862.8,4.00,NaN,NaN
3,19,45422946,A,G,rs4420638,APOC1,9.700000e-63,0.180,0.0110,0.190000,156209.0,4.00,NaN,NaN
4,19,45422846,G,A,rs56131196,APOC1,1.100000e-62,0.180,0.0110,0.190000,156008.5,4.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583,10,9206389,T,C,rs183967626,GATA3,9.300000e-07,0.570,0.1200,0.001400,1154.5,1.30,0.0,True
584,19,44894070,G,T,rs62116778,"CTC-512J12.6,ZNF285",9.300000e-07,-0.100,0.0210,0.040000,32519.0,-1.30,0.0,True
585,18,1818444,G,C,rs2712755,METTL4,9.300000e-07,0.042,0.0086,0.390000,317186.1,1.00,0.0,True
586,19,1937193,C,T,rs11672550,CSNK1G2,9.500000e-07,0.042,0.0085,0.570000,468997.2,0.97,0.0,True
587,3,184916191,T,C,rs535469255,EHHADH,9.900000e-07,3.000,0.6000,0.000081,66.6,1.40,0.0,True

In [34]:
d = pd.DataFrame(result['variant_bins'])
d

    chrom            qvals              qval_extents       pos
0       1               []              [[0.1, 4.3]]   1500000
1       1            [4.3]              [[0.1, 3.9]]   4500000
2       1               []              [[0.1, 4.7]]   7500000
3       1       [4.3, 4.9]              [[0.1, 3.9]]  10500000
4       1            [4.9]              [[0.1, 4.1]]  13500000
..    ...              ...                       ...       ...
929    22            [4.7]              [[0.1, 4.1]]  40500000
930    22            [4.7]              [[0.1, 4.1]]  43500000
931    22               []              [[0.1, 4.7]]  46500000
932    22               []  [[0.1, 4.5], [5.1, 5.3]]  49500000
933    22  [3.5, 3.9, 4.3]  [[0.1, 2.9], [4.7, 5.1]]  52500000

[934 rows x 4 columns]