# pheweb数据获取

## pheweb
- pheweb网址：http://pheweb.sph.umich.edu/SAIGE-UKB 网站看起来是静态网站，有关数据可以直接在网站上找到，其中表格数据的存储格式为.json文件（格式详解见[JSON教程](https://www.runoob.com/json/json-tutorial.html)）,下面是在网站上找到.json数据文件位置的方法：

![.json](https://github.com/AI-10/Data-processing/blob/master/picture/1.png)

![.json](https://github.com/AI-10/Data-processing/blob/master/picture/2.png)

- .json文件的存储方式是键值对，需要进一步整理成Excel或CSV文件，方便查看和处理

### 下载与保存

- 用Python/jupyter Notebook执行以下代码，按指示输入所需内容即可

In [1]:
#导入相关库
import numpy as np
import pandas as pd 
import requests

In [2]:
#执行代码，输入.json文件网址（见上面图示），requests.get(.).json()请求数据
url = input("请输入网址")
result = requests.get(url).json()

请输入网址http://pheweb.sph.umich.edu/SAIGE-UKB/api/manhattan/pheno/286.1.json

In [3]:
#查看数据长度及基本情况,.json文件的存储方式为键值对，可以看到该数据有两个数据分别是variant_bins，unbinned_variants
print(len(result),result.keys())
result_variant_bins = pd.DataFrame(result['variant_bins'])
result_unbinned_variants = pd.DataFrame(result['unbinned_variants'])

2 dict_keys(['variant_bins', 'unbinned_variants'])

In [6]:
result_variant_bins.head()

,chrom,qvals,qval_extents,pos
0,1,"[4.25, 4.45]","[[0.05, 3.25], [3.45, 3.65], [3.95, 4.05]]",1500000
1,1,"[4.25, 4.45, 4.65]","[[0.05, 3.85]]",4500000
2,1,"[3.85, 4.05, 4.45]","[[0.05, 3.65]]",7500000
3,1,[4.95],"[[0.05, 3.55]]",10500000
4,1,"[3.85, 4.65]","[[0.05, 3.35], [3.55, 3.65]]",13500000

In [7]:
result_unbinned_variants.head()

,chrom,pos,ref,alt,rsids,nearest_genes,pval,beta,sebeta,af,ac,tstat,num_significant_in_peak,peak
0,1,169519049,T,C,rs6025,F5,6.400000e-173,-10.0,0.37,0.980,794780.0,-1.7,1242.0,True
1,1,169216412,C,G,rs2040445,NME7,6.600000e-159,-9.6,0.36,0.980,793816.7,-1.6,NaN,NaN
2,1,169467654,G,A,rs1894692,SLC19A2,3.300000e-158,-10.0,0.38,0.980,795840.8,-1.6,NaN,NaN
3,1,169208179,C,T,rs2227246,NME7,2.200000e-157,-9.8,0.37,0.980,794656.8,-1.6,NaN,NaN
4,1,169160458,C,T,rs144737447,NME7,3.300000e-157,9.7,0.36,0.024,19179.1,1.6,NaN,NaN

In [9]:
#将两个数据分别输出到一个Excel文件的两个sheet中
save_locate = input("请输入文件将要保存位置")
with pd.ExcelWriter(r"%s\result.xlsx"%(save_locate)) as writer:
    result_variant_bins.to_excel(writer,sheet_name = "result_variant_bins")
    result_unbinned_variants.to_excel(writer,sheet_name ="result_unbinned_variants")

请输入文件将要保存位置C:\Users\acer\Desktop

In [1]:
#help(result_variant_bins.to_excel)

### 关于top hits

- 下载的数据实际上是Manhattan图上所示的所有有意义的signal，要找top hits，只需在输出的文件里找peak值为TRUE的数据（excel排序就行）